#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.video-container{
    margin: 60px auto;
    display: inline-table;
}

.video-container iframe{
    width: 1200;
    height: 700;
}

h1{
    margin: 30px auto;
}

#vid{
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto;
    z-index: -1000; 
    overflow: hidden;
}

@media (max-width:1400px){
    .video-container iframe{
        width: 1000;
        height: 562.50;
    }
    h1{
        margin-top: 50px;
        margin-bottom: 30px;
    }
} 

@media (max-width:1050px){
    .video-container iframe{
        width: 800;
        height: 450;
    }
    h1{
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 30px;
    }
} 

@media (max-width:850px){
    .video-container iframe{
        width: 600;
        height: 337.50;
    }
} 

@media (max-width:630px){
    .video-container iframe{
        width: 400;
        height: 225;
    }
    h1{
        font-size: 17px;
    }
} 

@media (max-width:430px){
    .video-container iframe{
        width: 350;
        height: 196.88;
    }
} 
@media (max-width:767px){
   #background-video{
        display: none;
    }
}
