.title h2{
	color: white;
	font-size: 50px;
	margin-top : 150px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Caveat', cursive;
}
.skill-box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.skill-card{
	height: 400px;
	width: 380px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.skill-card i{
	font-size: 100px;
	display: block;
	text-align: center;
	margin: 25px 0px;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.skill-card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.skill-card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
@media (max-width:1200px){
	.title h2{
		font-size: 40px;
		margin-top : 130px;
	    margin-bottom: 30px;
		text-align: center;
	}
	.skill-card i{
		font-size: 90px;
		margin: 25px 0px;
	}
	h5{
		font-size: 19px;
		margin-bottom: 10px;
	}
	.pra p{
		font-size: 15px;
		margin-bottom: 21px;
	}
	.skill-card .button{
		padding: 7px 20px;
		border-radius: 30px;
	}
  } 
@media (max-width:768px){
	.title h2{
		font-size: 30px;
		margin-top : 90px;
	    margin-bottom: 40px;
		text-align: center;
	}
	.skill-card{
		height: 350px;
		width: 330px;
	}
	.skill-card i{
		font-size: 80px;
		margin: 25px 0px;
	}
	h5{
		font-size: 17px;
		margin-bottom: 10px;
	}
	.pra p{
		font-size: 12px;
		line-height: 18px;
		
	}
	.skill-card .button{
		padding: 5px 18px;
		border-radius: 30px;
	}
  } 
@media (max-width:500px){
	.skill-card{
		height: 320px;
		width: 300px;
	}
  } 
